body {
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	padding-top: 80px;
}

#categories {
	position: fixed;
	background: #fff;
	top: 0;
	width: 100%;
	height: 68px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 10px;
	scroll-behavior: smooth;
}

.scroll { 
	height: 50px;
	margin: 10px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	width: auto;
	scroll-behavior: smooth;
	/* animation: scroll-behavior 1.3s ease-in; */
}

.list-item {
	width: 190px;
	padding: 4px 0px;
	border-radius: 20px;
	margin-top: 0px;
	margin: 6px;
	text-align: center;
	display: inline-block;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 10px;
	font-weight: 400;
	font-family: 'Nunito';
	color: rgb(36, 34, 34);
}

.active {
	background: rgb(73, 175, 124);
	color: #FFF!important;
	/* transform: translate(20px,0);
	animation: transform 2.5 ease-in; */
}

.active span {
	font-size: 20px;
}

.box {
	width: 90%;
	margin: 15px auto;
	height: 170px;
	border-radius: 10px;

	box-shadow: rgba(44, 77, 44, 0.35) 0px 5px 15px;
}

.cyan {
	background-color: rgb(79, 109, 241);
}

.red {
	background: rgb(204, 66, 31);
}
.verde {
	background: rgb(25, 209, 71);
}
.violeta {
	background: rgb(211, 7, 177);
}
 
::-webkit-scrollbar {
    height: 0px;
    overflow: visible;
    width: 0px;
}

span { 
	font-family: Nunito; 
	font-size: 17px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 26.4px; 
} 
h3 { 
	font-family: Nunito; 
	font-size: 14px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 15.4px; 
} 
p { 
	font-family: Nunito; 
	font-size: 14px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 20px; 
} 

blockquote { 
	font-family: Nunito; 
	font-size: 21px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 30px; 
} 
pre { 
	font-family: Nunito; 
	font-size: 13px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 18.5714px; 
}

/*arrow top*/

#arrow-top {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: rgba(44, 77, 44, 0.35) 0px 5px 15px;
	background-color: #fff;
	border: 1px solid rgb(253, 240, 162) ;
	position: fixed;
	bottom: 30px;
	right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#arrow-top:after {
	content: '\2227';
  }